[Unit]
Description=Stage 5b Java Application
After=network.target

[Service]
User={{ app_user }}
WorkingDirectory={{ app_dir }}
ExecStart={{ app_dir }}/target/stage_5b.jar
StandardOutput=append:/var/log/stage_5b/out.log
StandardError=append:/var/log/stage_5b/error.log
Restart=always

[Install]
WantedBy=multi-user.target
